extends includes/layout.pug
block metatags
  title= title
  meta(name="description", content=description)
block content
  .app
    .header
      .header-container
        .header-section.header--logo
          img(src="./img/logo_brand.png", alt="")
        .header-section.header--title File Manager
        .header-section.header--user
          .userSession=`User: ${userdata.UserName}`
    .nav
      .nav-content
        .nav-menu
          ul
            li 
              a(href="#",id="Customers") Customers
            li 
              a(href="#",id="Users") Users
            li 
              a(href="#",id="Files") Files
            li 
              a(href="#",id="Maintenance") Maintenance
    .main-container
      .main-content
        block main
        include includes/main.pug
    .footer
      .footer-container
        .footer-item
          img(src="./img/logo_brand.png", alt="")
        .footer-item
          .copyright © Unify Inc. 2017
  #popup
    .popup-container
      .popup-title-bar
        .popup-title
        .popup-close
          img(src="", alt="")
      .popup-content
        .popup-menu
        .popup-main
      .popup-footer  
  #containerDashboardPopup
    #dashboardPopup
      .dashboardPopup-container
        .dashboardPopup-title-bar
          .dashboardPopup-title Gestion de clientes
          .dashboardPopup-close
            .icon.icon-times
        .dashboardPopup-content
          .dashboardPopup-menu
            ul
              li
                .icon.icon-list-add
                a#addCustomers(href="#") Añadir
              li
                input#customerToSearch(type="text")
                .icon.icon-search
          .newCustomer-container
            .newCustomer
              input#newCustomer(type="text", name="newCustomer", placeholder="Nuevo cliente")
              input#username(type="text", name="username", placeholder="Usuario")
              input#password(type="password", name="password", placeholder="Clave")
              input#password1(type="password", name="password1", placeholder="Repite la clave")
              a#acceptButton.button(href="#") Aceptar
          .dashboardPopup-main
            table.popup--table.thead-fixed
              tr
                td Cliente
                td Usuarios
            table#customersTable.popup--table
              tbody
                tr
                  td D:\FTP\clientes\Kike
                  td
                    select
                      option user1
                      option user2
        .dashboardPopup-footer Total customers 98      
  input(type="hidden",value=`${userdata.UserName}`)#username
  input(type="hidden",value=`${userdata.wssURL}`)#path
  
